{% extends "base.html" %}

{% block title %}
  About Us
{% endblock %}

{% block content%}
<section class="about-section bg-danger p-1">
  
      <h2>About Us</h2>
      <p>
          Welcome to <span>SHOP CART!</span>  We are committed to bringing you the best online shopping experience,
          offering a wide variety of products at affordable prices. Our goal is to make shopping
          simple, fast, and enjoyable.
      </p>
      <p>
          Whether you're buying daily essentials or discovering new deals, Shop Cart is your go-to
          platform. Thank you for choosing us!
      </p>
 
</section>

{% endblock %}
{% load static %}
